

main {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

ul {
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-direction: column;
}

.name {
    padding-bottom: 10px;
}


.link__rsschool {
    text-decoration: none;
}

.link__rsschool:hover {
    color: blueviolet;
}


.photo {
    max-width: 399px;
    margin: 0;
}

.logo__footer {
    width: 100px;
}

